<form method="post" action="{{ path('competence_cv_delete', {'id': competence_cv.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competence_cv.id) }}">
    <button class="btn">Supprimer</button>
</form>
